<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IM System</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                 Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Inventory"> 
                Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddItem">Add Item</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LogStock">
                 Log Stock Take
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="LogDelivery">
                 Log Delivery
            </NavLink>
        </div>
    </nav>
</div>

