@page "/"
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Inventory Management Sysytem</h1>

<p>Welcome to your pub's inventory system.</p>
<button class="btn btn-primary" @onclick="NavigateToDelivery" > Log Delivery</button>
<button class="btn btn-primary" @onclick="NavigateToStockTake"> Log Stock Take</button>

@code{
    public void NavigateToDelivery(){
        Navigation.NavigateTo("/LogDelivery");
    }
    public void NavigateToStockTake(){
        Navigation.NavigateTo("/LogStock");
    }
    
}


