@page "/Inventory"
@using InventoyManagementSystem.Components.Modals
@using Microsoft.EntityFrameworkCore

@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject InventoryService InventoryService

<PageTitle>Inventory</PageTitle>

<h1>Inventory</h1>
@inject IMDatabaseContext DbContext

<h3>Items</h3>
<button class="btn btn-primary" @onclick="NavigateToAddItem">Add a New Item</button>
<br/>
@if (InventoryItems != null &&   InventoryItems.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in InventoryItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>
                        <button class="btn btn-primary"@onclick="(() =>ShowUpdateModal(item))">Update Item</button>
                    </td>
                    <td>
                    <button class="btn btn-danger" @onclick="(() => ShowDeleteModal(item))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No items found.</p>
}


<DeleteModal @ref="deleteModal" OnDelete="DeleteItem" />
<UpdateModal @ref="updateModal" OnSave="UpdateItem"/>

@code {
    private Item currentItem;
    private DeleteModal deleteModal;
    private UpdateModal updateModal;
    private List<Item> InventoryItems = new List<Item>{};

    protected override async Task OnInitializedAsync()
    {
        InventoryItems = await InventoryService.GetInventoryItemsAsync();
    }
    private async Task LoadInventoryItems()
    {
        InventoryItems = await InventoryService.GetInventoryItemsAsync();
    }
    

    private async Task ShowDeleteModal(Item item)
    {
        currentItem = item;
        await deleteModal.ShowAsync();
    }
    private async Task DeleteItem()
    {
        await InventoryService.DeleteItemAsync(currentItem.Id);
        
        InventoryItems = await InventoryService.GetInventoryItemsAsync(); // Refresh the list
        
    }
    private void NavigateToAddItem(){

        Navigation.NavigateTo("/AddItem");
    }
    private async Task UpdateItem(Item item)
    {
        await InventoryService.UpdateItemAsync(item);
        await LoadInventoryItems(); // Refresh the list
    }
    private async Task ShowUpdateModal(Item item)
    {
        currentItem = item;
        await updateModal.ShowAsync(item);
    }
    
   

}